.prose ul,
.prose ol {
    margin-left: 1em;
    padding-left: 1em;
}

.prose h1 {
    font-size: 21px;
    font-weight: bold;
    font-family: sans-serif;
}

.prose h2 {
    font-size: 21px;
    font-weight: bold;
    font-family: sans-serif;
}

.prose h3 {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.prose ul {
    list-style-type: disc;
}

.prose p {
    margin-top: 1rem;
}

.prose ol {
    list-style-type: decimal;
}

.prose li {
    margin-bottom: 0.5em;
}

.prose a,
.rich-content a {
    color: #2563eb;
    /* Tailwind blue-600 */
    text-decoration: underline;
    word-break: break-all;
    transition: color 0.2s;
}

.prose a:hover,
.rich-content a:hover {
    color: #1d4ed8;
    /* Tailwind blue-700 */
    text-decoration: underline;
}
